.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1C1C;
    width: 400px;
    max-width: 400px;
    margin-top: 80px;
    border-radius: 10px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    padding: 8px;
}
#buttons button {
    background-color: #505050;
    color: white;
    font-size: 36px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
}
#buttons button:hover{
    opacity: 70%;
}
#buttons button:active{
    opacity: 100%;
}
#display {
    background-color: #1C1C1C;
    color: white;
    text-align: right;
    font-size: 80px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 250, 230);
}